body{
	background:#fff;
	font-family: arial;

}



.container{
	position:relative;
	margin:0 auto;
	width:905px;
	height: auto;
	padding: 10px;
	background:rgba(150,56,58,0.5);
	border:4px solid #000;
	box-shadow: 4px 4px 4px #000; 
    -moz-box-shadow: 4px 4px 4px #000; 
    -webkit-box-shadow: 4px 4px 4px #000; 
     border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;



}


.top{

	position:relative;
	width:880px;
	height: 48px;
    padding: 6px;
    background:rgba(150,150,156,0.3); 
   
}

.body{
	margin-top: 20px;
	width:860px;
	height: auto;
	padding: 9px;

}

.campo{
	width:820px;
	height: 50px;
	border:none;
	opacity: 0.5;
	color:rgb(0,0,0);
	font-size: 68px;
	text-align: right;
	
}

.btn{

	margin-top: 4px;
	width:160px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}




 .btn:hover{
 cursor:pointer;
 background:rgba(100,100,100,0.8);
 border-radius: 10px;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 }

.btn-raiz{

	margin-top: 4px;
	width:201px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.btn-10{

	margin-top: 4px;
	width:258px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.btn-11{

	margin-top: 4px;
	width:283px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.btn-12{

	margin-top: 4px;
	width:292px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.btn-13{

	margin-top: 4px;
	width:338px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.btn-14{

	margin-top: 4px;
	width:383px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.btn-15{

	margin-top: 4px;
	width:478px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.btn_1{
    margin-top: 4px;
	width:146px;
	height: 50px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;
*/
	border:4px solid #000;

	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


.zero{

	width: 323px;

}

.igual{
	position: absolute;
	height: 106px;

}

#op{
	position: absolute;
	z-index:999;
	margin:15px 10px;
	font-weight: bold;
	color:#000;
	font-size: 20px;
}

#rodape {
	min-width: 950px;
	max-width: 1200px;
	min-height: 190px;
	max-height: 210px;
 background-color:#4467BA;
margin-left:30px;
clear:both;
 margin-bottom:10px;
margin-top:40px;
border-radius:10px;  /* Chrome */
 -moz-border-radius:10px;   /*Firefox*/
  -wekbit-border-radius:10px; /* Internet explorer */
 box-shadow: 5px;/* sombreamento da div */
 -moz-box-shadow:10px; /* Firefox */
 -webkit-box-shadow:10px; /* Internet explorer */
text-shadow:5px 5px 8px rgba(10, 10, 10, 0.8);
      -moz- text-shadow:5px 5px 8px rgba(10, 10, 10, 0.8);
-webkit- text-shadow:5px 5px 8px; rgba(10, 10, 10, 0.8);
transition:all, 0.2s;
-moz-transition:all, 0.2s;
-webkit-transition:all, 0.2s;
border:8px groove #000;
background-color:rgba(150,140,120,0.2);
 transition:all, 0.2s;
  -moz-transition:all, 0.2s;
-webkit-transition:all, 0.2s;
z-index:2;
transition: 0.3s; /*rodar no google chrome , site cross browser, abre em qualquer navegador*/  
      -moz-transition: 0.3s;/*rodar no mozila firefox , site cross browser, abre em qualquer navegador*/  
   -webkit-transition: 0.3s;/*rodar no Internet Explorer, site cross browser, abre em qualquer navegador*/  

}




