body{
	background:#ccc;
	font-family: arial;

}



.container{
	position:relative;
	margin:0 auto;
	width:1285px;
	height: auto;
	padding: 10px;
	background:rgba(150,56,58,0.5);
	border:4px solid #000;
	box-shadow: 4px 4px 4px #000; 
    -moz-box-shadow: 4px 4px 4px #000; 
    -webkit-box-shadow: 4px 4px 4px #000; 
     border-radius: 10px;
 	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px;



}


.top{

	position:relative;
	width:1108px;
	height: 98px;
    padding: 6px;
    background:rgba(150,150,156,0.3); 
   
}

.body{
	margin-top: 20px;
	width:1108px;
	height: auto;
	padding: 9px;
	background:#0000ff;
	 border-radius: 10px;
 	-moz-border-radius: 10px;
 	-webkit-border-radius: 10px; 
}

.campo{
	width:860px;
	height:89px;
	border:none;
	opacity: 0.5;
	color:rgb(0,0,0);
	font-size: 68px;
	text-align:left;
	
}

#result{
	border-radius:10px;
	-moz-border-radius:10px;
    -webkit-border-radius:10px;
    border:4px solid #000;
}

.btn{

	margin-top: 4px;
	width:91px;
	height:40px;
	background: rgba(100,100,100,0.8);
	color:#fff;
	/*border:none;*/
	border:4px solid #000;
	font-size: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}



#op{
	position:relative;
	z-index:999;
	margin:19px 20px;
	font-weight:bold;
	color:#000;
	font-size:20px;
}

.tempo{
	position:relative;
	top:90%;
	left:90%; 
	font-size:23px Arial; 
}

